@page "/Reports"
<h3>Reports</h3>
<Syncfusion.Blazor.Buttons.SfButton @onclick="@OnClick">Get Sample Sales Report</Syncfusion.Blazor.Buttons.SfButton>
@code {
    private void OnClick(MouseEventArgs args)
    {
        
    }
}
