@inject HttpClient Http
<div class="d-block align-content-center w-100">
    <h3 class="text-center">Reports</h3>
    <SfTab HeaderPlacement="HeaderPosition.Top" LoadOn="ContentLoad.Dynamic" OverflowMode="@OverflowMode.Scrollable">
        <TabItems>
            <TabItem  Content="Place here your content">
                @*Replace your required tab1 boby content here *@
                <ChildContent>
                    <TabHeader Text="Header1"></TabHeader> @*Replace your required header1 text here *@
                </ChildContent>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Sales Report"></TabHeader> @*Replace your required header1 text here *@
                </ChildContent>
                <ContentTemplate>
                    
                </ContentTemplate>
            </TabItem>
            <TabItem Content="Place here your content">
                @*Replace your required tab1 boby content here *@
                <ChildContent>
                    <TabHeader Text="Header1"></TabHeader> @*Replace your required header1 text here *@
                </ChildContent>
            </TabItem>
            <TabItem Content="Place here your content ">
                @*Replace your required tab2 boby content here *@
                <ChildContent>
                    <TabHeader Text="Header2"></TabHeader> @*Replace your required header2 text here *@
                </ChildContent>
            </TabItem>
        </TabItems>
    </SfTab>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
            await ClickedSalesReport();
        
    }
    private async Task ClickedSalesReport()
    {
        var response = await Http.GetAsync(requestUri: "/api/SalesReport");
        var sc = await response.Content.ReadAsStringAsync();
        await Http.GetFromJsonAsync<IEnumerable<InvSummGridModel>>(requestUri: "/Reports/InvSummaryListPaged?page=0&pageSize=25").ConfigureAwait(continueOnCapturedContext: false);
        StateHasChanged();
    }
    private SalesReportInput Model { get; set; } = new();
    public List<string> Types = new()
    {
       "Sale","Estimate","Purchase","Return",
    };
}
