@page "/SalesReport"
@using AccReporting.Client.Components
@using AccReporting.Client.Services
<AuthorizeView>
    <Authorized>
        <style>
            .e-export-pdf:before {
                content: '\e700';
                color: gray;
                font-size: 28px;
            }
        </style>
        <h3 class="text-center">Sales Report</h3>

        <SfTab @bind-SelectedItem="@SelectedItemIndex" HeaderPlacement="HeaderPosition.Top" LoadOn="ContentLoad.Dynamic" OverflowMode="@OverflowMode.Scrollable">
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Sales"></TabHeader> @*Replace your required header1 text here *@
                    </ChildContent>
                    <ContentTemplate>
                        <SalesReportGrid Type="S"></SalesReportGrid>
                    </ContentTemplate>
                </TabItem>
                
                <TabItem>
                    @*Replace your required tab1 boby content here *@
                    <ChildContent>
                        <TabHeader Text="Purchase"></TabHeader> @*Replace your required header1 text here *@
                    </ChildContent>
                    <ContentTemplate>
                        <SalesReportGrid Type="P"></SalesReportGrid>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    @*Replace your required tab2 boby content here *@
                    <ChildContent>
                        <TabHeader Text="Return"></TabHeader> @*Replace your required header2 text here *@
                    </ChildContent>
                    <ContentTemplate>
                        <SalesReportGrid Type="R"></SalesReportGrid>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    @*Replace your required tab2 boby content here *@
                    <ChildContent>
                        <TabHeader Text="Estimate"></TabHeader> @*Replace your required header2 text here *@
                    </ChildContent>
                    <ContentTemplate>
                        <SalesReportGrid Type="E"></SalesReportGrid>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    @*Replace your required tab2 boby content here *@
                    <ChildContent>
                        <TabHeader Text="@_typesAll[key: "Q"]"></TabHeader> @*Replace your required header2 text here *@
                    </ChildContent>
                    <ContentTemplate>
                        <SalesReportGrid Type="Q"></SalesReportGrid>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    @*Replace your required tab2 boby content here *@
                    <ChildContent>
                        <TabHeader Text="@_typesAll[key: "C"]"></TabHeader> @*Replace your required header2 text here *@
                    </ChildContent>
                    <ContentTemplate>
                        <SalesReportGrid Type="C"></SalesReportGrid>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>

    </Authorized>
</AuthorizeView>
@code {
    public SfGrid<InvSummGridModel> DefaultGrid = new();
    string? _type = "";
    [Parameter]
    [SupplyParameterFromQuery(Name = "Type")]
    public string? Type
    {
        get => _type;
        set 
        { 
            SelectedItemIndex = value switch
            {
                "Purchase"=>1,
                "Return"=>2,
                "Estimate"=>3,
                "PurchaseReturn"=>4,
                "Cash"=>5,
                _ =>0,
                };
            _type = value;

        }
    }
    public int SelectedItemIndex { get; set; }
    public bool DisableBackIcon = false;
    public bool DisableForwardIcon = false;
    public bool DisableFirstIcon = false;
    public bool DisableLastIcon = false;
    [Inject]
    public HttpInterceptorService Interceptor { get; set; } = null!;
    
    private SalesReportInput Model { get; set; } = new();
    public List<string> Types = new()
    {
       "Sale","Estimate","Purchase","Return",
    };
    private readonly IDictionary<string, string> _typesAll = new Dictionary<string, string>(comparer: StringComparer.InvariantCultureIgnoreCase)
    {
        {"S","Sale" },{"E","Estimate" },{"P","Purchase" },{"R","Return"},{"Q","Purchase Return"},{"C","Cash"}
    };
}

