@page "/uploaddatabase"
@using Syncfusion.Blazor
@inject NavigationManager nav
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Spinner
<h3>Upload Database</h3>
@*@*<SfSpinner Label="Uploading and processing your data, Please wait...." Visible="@ShowLoading"></SfSpinner>*@
<div id="ControlRegion">
    <div class="col-lg-12 control-section">
        <div class="control_wrapper">
            <SfUploader ID="UploadFiles" AllowedExtensions=".txt">
                <UploaderAsyncSettings SaveUrl="@SaveUrl"></UploaderAsyncSettings>
               @* <UploaderEvents OnUploadStart="@OnStart" OnActionComplete="@OnSuccess"></UploaderEvents>*@
            </SfUploader>
        </div>
    </div>
</div>
@code {
    private string SaveUrl;
    protected override void OnInitialized()
    {
        SaveUrl = nav.ToAbsoluteUri("api/upload/fileupload").AbsolutePath;
    }
    //private bool ShowLoading;
    //private void OnStart(UploadingEventArgs args)
    //{
    //    ShowLoading = true;
    //}
    //private void OnSuccess(ActionCompleteEventArgs args)
    //{
    //   ShowLoading = false;
    //}
}
