@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
<ul class="navbar-nav ms-auto">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <a class="nav-link text-dark me-1" style="pointer-events: none">Hello, @context.User.Identity?.Name!</a>
            </li>
            
           <li class="nav-item">

                <a class="buttonstyle nav-link text-dark me-3" href="Logout"><Syncfusion.Blazor.Buttons.SfIcon IconCss="oi oi-account-logout" Title="Log out" Size="Syncfusion.Blazor.Buttons.IconSize.Large"></Syncfusion.Blazor.Buttons.SfIcon></a>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <a class="nav-link text-dark" href="register">Register</a>
            </li>

            <li class="nav-item me-3">
                <a class="nav-link text-dark" href="login">Log in</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>
<style>
    .buttonstyle {
        border: thin;
        background-color: transparent;
        padding-left: 15px;
    }

        .buttonstyle:focus {
            outline: none
        }

</style>

@code {
}
